/.env
/venv/
/__pycache__/
*/__pycache__/
/venv-ai-studio/
/ai-studio-venv/
/ai-studio-venv/*
/.idea
/chat_client/__pycache__/generic_model_config.cpython-312.pyc
/studio/__pycache__/main.cpython-312.pyc
/venv-ai/
*.pyc
*.cpython
*.db
*.sqlite3
*.h
*/site-packages/*
/site-packages/
/.teams
payload.txt
*.sh
